
#name-user {
  text-align: center;
  color: #403E56;
  font-size: 25px;
}

.profile-area {
  display: flex;
  align-items: center;
  padding: 15px 30px;
}

.name-profile-area {
  text-align: center;
}

.profile-area-photo-box {
  /* width: 200px; */
  overflow: hidden;
}

/* .user-photo {
  width: 120px;
  height: 120px;
  border-radius: 60px;
}

.user-photo:hover {
  opacity: 0.5;
  cursor: pointer;
} */


.profile-interests {
  flex-wrap: wrap;
  align-items: center;
  color: #444444;
  width: 250px;
  font-size: 0.2 rem;
}

.img {
  margin: 10px;
  width: 30px;
  height: 30px;
  /* width: 40px;
  height: 40px; */
  cursor:pointer;
}

.photo > input {
  visibility:hidden;
  width:0;
  height:0;
}

.image-upload > input {
  visibility:hidden;
  width:0;
  height:0
}

.interest {
  margin-right: 30px;
}