.profile-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

.profile-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 30px;
  margin: 3em 0;
}

.name-profile-area {
  text-align: center;
  width: 100%;
}

.theme-image {
  display: none;
}

.profile-area-photo-box {
  width: 100px;
  overflow: hidden;
}

.user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  /* width: 120px;
  height: 120px;
  border-radius: 60px; */
} 


.user-photo:hover {
  opacity: 0.5;
  cursor: pointer;
} 

#name-user {
  text-align: center;
  color: #403E56;
  font-size: 25px;
}

.profile-area-interests {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-interests {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  color: #444444;
  width: 600px;
  font-size: 0.2 rem;
  margin: 10px;
  text-align: center;
  vertical-align: middle;

}

.personal-interest {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}


.interest-checkbox {
  position: absolute;
  top: 64px;
  left: 67px;
}

.img {
  margin: 10px;
  width: 50px;
  height: 50px;
  cursor:pointer;
}

.image-upload > input {
  visibility:hidden;
  width:0;
  height:0
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.profile-save-btn {
  width: 150px;
  background-color: var(--teal);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 500px) {
    .profile-interests {
      grid-template-columns: 150px 150px 150px;
      grid-column-gap: 1.5em;
      grid-row-gap: 1.5em;
  }
}

@media only screen and (min-width: 1024px) {
    .profile-area {
      flex-direction: column;
      height: 300px;
      border: 2px solid gray;
      border-radius: 4px;
      width: 65%;
      padding: 0px;
    }

    .profile-area-theme {
      background-color: rgb(211, 211, 211);
      width: 100%;
      height: 40%;
      margin-bottom: 10px;
    }

    .profile-area-photo-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      padding-top: 0px;
    }
    
    .theme-image {
      display: block;
      width: 100%;
      height: 280px;
    }

    .user-photo {
      width: 120px;
      height: 120px;
      border-radius: 60px;
    } 

    .profile-area-interests {
      justify-content: center;
      align-items: center;
      height: 350px;
      border: 2px solid gray;
      border-radius: 4px;
      width: 65%;
      padding: 0px;
    }

    .profile-interests {
      grid-template-columns: 150px 150px 150px 150px 150px;
      grid-column-gap: 0;
      grid-row-gap: 0;
    }
}