
/* HEADER */
.feed-navbar {
    height: 10vh;
    background: var(--teal);
    position: relative;
}

.feed-logo {
    width: 100px;
    position: absolute;

    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 3;
}

/* Menu Hamburguer */
.hamburger-line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 3;
}


.navbar-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100%;

    position: fixed;
    background: var(--teal);
    /* Menu hamburguer animação */
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
}


.navbar-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -20%);
    pointer-events: all;
   
}

.navbar-links .li-items a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
}

.navbar-links .li-items:hover{
    transform: scale(1.2);
    transition: all .2s ease;
}

/* Animação dos links */
.navbar-links .li-items {
    opacity: 0;
}

.navbar-links .li-items:nth-child(1){
    transition: all 0.5s ease 0.3s;
}

.navbar-links .li-items:nth-child(2){
    transition: all 0.5s ease 0.6s;
}

.navbar-links .li-items:nth-child(3){
    transition: all 0.5s ease 0.9s;
}

.li-items.fade {
    opacity: 1;
}


@media screen and (min-width: 660px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {
   
}

@media screen and (min-width: 1200px) {
    
    .navbar-links .li-items a{
        font-weight: 700;
    }
    .navbar-links.open {
        clip-path: circle(1600px at 90% -10%);
        -webkit-clip-path: circle(1600px at 90% -20%);
    }
}

/* FORMULARIO FEED */

.feed-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.posts-form {
    display: flex;
    flex-direction: row;
    margin: 3rem 0 1rem 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--medium-gray);
}

.greet-user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 2rem 0;
}

.post-text {
    outline: none;
    border: none;
    min-width: 65%;
    font-size: 1rem;
    flex-wrap: wrap;
    
}

.post-btn {
    border: none;
    color: white;
    background-color: var(--teal);
    padding: 0.7rem;
    border-radius: 10px;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}


.post-text,
.post-btn  {
    margin-bottom: 3rem;
}

@media screen and (min-width: 560px) {
    .posts-form {
        margin-bottom: 3rem;
    }

    .post-text {
        padding: 1rem;
    }
    .post-btn {
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
   
    .post-btn {
        width: 85px;

    }
}

@media screen and (min-width: 1024px) {
    .feed-container {
        width: 80%;
        margin: 5rem auto;
    }


    .greet-user {
        margin-bottom: 10%;
    }

    .post-text {
        padding: 1.3rem;
    }
   
    .post-btn {
        width: 100px;
        padding: 1.3rem;
        margin-left: 3rem;
       
    }
}

@media screen and (min-width: 1200px) {
   .feed-container {
     width: 70%;
   }
   .post-btn {
    margin-right: 2.5rem;
   }
}

@media screen and (min-width: 1300px) {
    .posts-form img {
        margin: 0 0 1.5rem 5rem;
    }
}

@media screen and (min-width: 1420px) {
    .feed-container {
        width: 60%;
      }
   
    .posts-form img {
        margin: 0 0 1.5rem 5rem;
    }
    .post-btn {
        margin-right: 3.2rem;
    }
}


/* PUBLICAÇÕES */

.posts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    list-style: none;
}

.post-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.user-photo-container {
    align-items: center;
    justify-content: center;
    margin: 0 0 1rem 1rem;
    width: 10%;
}

.user-feed-photo {
    width: 60px;
    border-radius: 50px;
    
}


.post-field {
    width: 70%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 0 1rem 1rem 0;
}

.user-name {
    font-weight: 600;
}

.user-post {
    flex-wrap: wrap;
}

.manage-post {
    border-bottom: 1px solid var(--medium-gray);
    width: 100%;

    
    display: flex;
    justify-content: center;
    align-items: center;


}

.manage-post-btn {
    margin: 0 .6rem 1rem 0;
    border: none;
    color: white;
    background-color: var(--teal);
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 660px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {

}