
/* HEADER */
.feed-navbar {
    height: 10vh;
    background: var(--teal);
    position: relative;
}

.feed-logo {
    width: 100px;
    position: absolute;

    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 3;
}

/* Menu Hamburguer */
.hamburger-line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 3;
}


.navbar-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100%;

    position: fixed;
    background: var(--teal);
    /* Menu hamburguer animação */
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
}


.navbar-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -20%);
    pointer-events: all;
   
}

.navbar-links .li-items a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}

.navbar-links .li-items:hover{
    transform: scale(1.2);
    transition: all .2s ease;
}

/* Animação dos links */
.navbar-links .li-items {
    opacity: 0;
}

.navbar-links .li-items:nth-child(1){
    transition: all 0.5s ease 0.3s;
}

.navbar-links .li-items:nth-child(2){
    transition: all 0.5s ease 0.6s;
}

.navbar-links .li-items:nth-child(3){
    transition: all 0.5s ease 0.9s;
}

.li-items.fade {
    opacity: 1;
}


@media screen and (min-width: 660px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {
   
}

@media screen and (min-width: 1200px) {
    .navbar-links {
        flex-direction: row;
        background: rgb(34, 158, 144, 0.7);
    }
    .navbar-links .li-items a{
        font-weight: 700;
    }
    .navbar-links.open {
        clip-path: circle(1600px at 90% -10%);
        -webkit-clip-path: circle(1600px at 90% -20%);
        background: rgb(34, 158, 144, 0.8);
    }

    .navbar-links .li-items:nth-child(1){
        transition: all 0.5s ease 0.9s;
    }
    
    .navbar-links .li-items:nth-child(2){
        transition: all 0.5s ease 0.6s;
    }
    
    .navbar-links .li-items:nth-child(3){
        transition: all 0.5s ease 0.3s;
    }
}

/* FORMULARIO FEED */

/* .feed-container {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    margin: 4rem 0 0 0;
} */

.posts-form {
    display: flex;
    flex-direction: row;
    margin: 3rem 0 1rem 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--medium-gray);
}

.post-text {
    outline: none;
    border: none;
    width: 80%;
    margin: 0 1.5rem 1.5rem 0;
}

.post-btn {
    border: none;
    color: white;
    background-color: var(--teal);
    padding: 0.7rem;
    border-radius: 10px;
    margin: 0 1rem 1.5rem 0;
}

@media screen and (min-width: 500px) {
    .posts-form img {
        margin: 0 0 1.5rem 1.9rem;
    }
}
@media screen and (min-width: 660px) {
    .posts-form img {
        margin: 0 0 1.5rem 3rem;
    }

    .post-btn {
        padding: 1rem;
        margin-right: 1.7rem;
    }
}

@media screen and (min-width: 768px) {
    .posts-form img {
        margin: 0 0 1.5rem 4.2rem;
    }
    .post-btn {
        width: 75px;
        margin-right: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .feed-container {
        width: 80%;
        margin: 5rem auto;
    }
    .posts-form img {
        margin: 0 0 1.5rem 4.6rem;
    }
    .post-text {
        margin: 0 0 1.5rem 5.5rem;
    }
    .post-btn {
        width: 80px;
        padding: 1.3rem;
        margin-left: 3rem;
       
    }
}

@media screen and (min-width: 1200px) {
   .feed-container {
     width: 70%;
   }
   .post-btn {
    margin-right: 2.5rem;
   }
}

@media screen and (min-width: 1300px) {
    .posts-form img {
        margin: 0 0 1.5rem 5rem;
    }
}

@media screen and (min-width: 1420px) {
    .feed-container {
        width: 60%;
      }
   
    .posts-form img {
        margin: 0 0 1.5rem 5rem;
    }
    .post-btn {
        margin-right: 3.2rem;
    }
}


/* PUBLICAÇÕES */

.posts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    list-style: none;
}

.post-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    border-bottom: 1px solid var(--medium-gray);
}

.user-profile {

}

.user-avatar {

}

.user-name {

}

.post-field {

}

.user-post {

}

.manage-post {

}

.manage-post-btn {
    
}

@media screen and (min-width: 660px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {

}