
/* HEADER */
.feed-navbar {
    height: 10vh;
    background: var(--teal);
    position: relative; 
}

.feed-logo {
    width: 100px;
    position: absolute;

    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 5;
}

/* Menu Hamburguer */
.hamburger-line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 5;
}


.navbar-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%; 

    position: fixed;
    background: var(--teal);
    /* Menu hamburguer animação */
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 4;
}

.navbar-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -20%);
    pointer-events: all;
    
}

.navbar-links .li-items a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
}

/* Animação dos links */
.navbar-links .li-items {
    opacity: 0;
}

.navbar-links .li-items:hover{
    transform: scale(1.2);
    transition: all .2s ease;
}

.navbar-links .li-items:nth-child(1){
    transition: all 0.5s ease 0.3s;
}

.navbar-links .li-items:nth-child(2){
    transition: all 0.5s ease 0.6s;
}

.navbar-links .li-items:nth-child(3){
    transition: all 0.5s ease 0.9s;
}

.li-items.fade {
    opacity: 1;
}

@media screen and (min-width: 1200px) {
    
    .navbar-links .li-items a{
        font-weight: 700;
    }
    .navbar-links.open {
        clip-path: circle(1600px at 90% -10%);
        -webkit-clip-path: circle(1600px at 90% -20%);
    }
}

/* FORMULARIO FEED */

.feed-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.posts-form {
    display: flex;
    flex-direction: row;
    margin: 3rem 0 1rem 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--medium-gray);
}

.greet-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0 2rem 0;
}

.user-feed-photo {
    width: 100px;
    border-radius: 50px;
    margin-bottom: 1%;
}

.post-text {
    outline: none;
    border: none;
    min-width: 65%;
    font-size: 1rem;
    flex-wrap: wrap;
    
}

.post-btn {
  width: 100px;
  background-color: var(--teal);
  border: none;
  outline: none;
  height: 40px;
  border-radius: 50px;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
}


.post-text,
.post-btn  {
    margin-bottom: 3rem;
}

@media screen and (min-width: 560px) {
    .posts-form {
        margin-bottom: 3rem;
    }

    .post-text {
        padding: 1rem;
    }
    .post-btn {
        width: 150px;
        background-color: var(--teal);
        height: 49px;
        border-radius: 49px;
        color: rgb(255 255 255);
    }
}


@media screen and (min-width: 1024px) {
    .feed-container {
        width: 80%;
        margin: 5rem auto;
    }

    .greet-user {
        margin-bottom: 10%;
    }

    .post-text {
        padding: 1.3rem;
    }
   
    .post-btn {
        margin-left: 3rem;  
    }
}

@media screen and (min-width: 1200px) {
   .feed-container {
     width: 70%;
   }
   .post-btn {
    margin-right: 2.5rem;
   }
}

@media screen and (min-width: 1300px) {
    .posts-form img {
        margin: 0 0 1.5rem 5rem;
    }
}

@media screen and (min-width: 1420px) {
    .feed-container {
        width: 60%;
      }
   
    .posts-form img {
        margin: 0 0 1.5rem 5rem;
    }
    .post-btn {
        margin-right: 3.2rem;
    }
}


/* PUBLICAÇÕES */

.posts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin-top: 2rem; */
    list-style: none;
}

.post-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 48px;
}

.user-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 0 1rem 1rem; */
    width: 90%;
}

/* .user-post-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    border-radius: 50px;
} */

.user-name {
    font-weight: 600;
    width: 100%;
}

.post-date {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.edit-container {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0;
    
}

.post-field {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: justify;
    flex-direction: column;
    text-align: left;
    /* margin: 0 0 1rem 2rem; */
}

.user-post {
    flex-wrap: wrap;
    background-color: var(--light-gray);
    padding: .5rem;
    border-radius: 10px;
    font-size: 1rem;
    margin: 1.6rem 0;
    color: black;
    width: 100%;
}

.edit-post-textarea {
    resize: none;
    border: none;
    outline: none;
    background-color: var(--light-gray);
    font-family: inherit;
    font-size: 1rem;
    border-radius: 10px;
    width: 75%;
    margin-left: 2%;
}

.display-none {
    display: none;
} 

.edit-post {
    font-family: inherit;
    background-color: transparent;
    font-size: 1rem;
    color: black;
    width: 90%;
}

.edit-buttons {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.manage-post {
    border-bottom: 1px solid var(--medium-gray);
    width: 100%;

    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.post-likes {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.manage-post-btn {
    margin: 0 .6rem 1rem 0;
    border: none;
    color: var(--medium-gray);
    background-color: transparent;
    padding: 0.5rem;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.manage-edit-btn {
  width: 80px;
  background-color: var(--teal);
  border: none;
  outline: none;
  height: 30px;
  border-radius: 50px;
  color: rgb(255 255 255);
  cursor: pointer;
  margin: 0 0 3% 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-pencil-alt:hover {
    color: var(--teal);
    transition: all .2s ease;
}

.fa-trash-alt:hover {
    color: red;
    transition: all .2s ease;
}

.likes-number {
    margin: 0 .6rem 1rem 0;
}


.fa-heart.far {
    color: var(--medium-gray);
}

.fa-heart.fas {
    color: var(--ultra-pink);
}

/*Modal - excluir post*/

.modal-wrapper {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .modal {
    font-family: inherit;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    position: relative;
    box-shadow: 4px 3px 38px 1px rgb(18 18 16 / 79%);
    -webkit-box-shadow: 4px 3px 38px 1px rgb(18 18 16 / 79%);
    -moz-box-shadow: 4px 3px 38px 1px rgb(18 18 16 / 79%);
  }
  
  .modal-content h2 {
    margin-bottom: 5%;
  }
  
  .modal-content button {
    color: white;
    background-color: var(--teal);
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
  }
  
  .modal-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }



@media screen and (min-width: 660px) {
    .user-post-photo{
        width: 100px;
    }
    .edit-post-textarea {
        width: 100%;
        margin-left: 0;
    }
}
