#logout {
    width: 120px;
    background-color: rgb(255 255 255);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: var(--teal);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1200px) {
    #logout{
        font-weight: 700;
    }
}