.reset-password-container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.container-form {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.reset-container {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.form-forger-password {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.form-forger-password.reset-password {
  z-index: 2;
}

.reset-logo {
    width: 30%;
    margin-bottom: 40px;
}

.title-reset {
  font-size: 1.3rem;
  color: #444;
  margin-bottom: 10px;
  text-align: center;
}

.reset-input {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.reset-input i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.reset-input input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.reset-input input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.btn-reset {
  width: 150px;
  background-color: #00BFA6;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn-reset:hover {
  background-color: #00BFA6;
}

.reset-password-container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #00BFA6  0%, #00BFA6 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

/* ANIMATION */
.container.sign-up-mode .reset-container {
  left: 25%;
}

.container.sign-up-mode form.reset-password {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

@media (max-width: 870px) {
  .reset-password-container {
    min-height: 800px;
    height: 100vh;
  }
  .reset-container  {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .reset-container ,
  .container.sign-up-mode .reset-container  {
    left: 50%;
  }

  .reset-password-container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }


  .container.sign-up-mode .reset-container  {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  .title-reset {
    font-size: 0.9rem;
  }

  .form-forger-password {
    padding: 70px 1.5rem;
  }

  .reset-password-container {
    padding: 1.5rem;
  }

  .reset-password-container:before {
    bottom: 72%;
    left: 50%;
  }

}