.not-found-container {
    background: rgb(57, 188, 172);
    background: radial-gradient(circle,
            rgba(57, 188, 172, 1) 0%,
            rgba(138, 211, 221, 1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-found-glass {
    width: 80%;
    height: 80%;
    background: #39BCAC inherit;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;

}

.not-found-glass:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;
}

.not-found-content {
    display: flex;
    align-items: center;
    margin: 123px;
    flex-direction: column;
}

.not-found-logo {
    width: 135px;
}

.not-found-title {
    font-size: 19px;
    padding: 23px;
    width: 225%;
    color: #403E56;
    text-align: center;
}

.go-back-feed {
    width: 100px;
    margin-bottom: 37px;
    cursor: pointer;
    color: #403E56;
    text-align: center;
}

.image-not-found {
    width: 275px;
}

@media screen and (min-width: 1024px) {
    .not-found-logo {
        width: 160px;
    }

    .image-not-found {
        width: 405px;
    }

}